
html.has-scrollbar {
    .entry-content {
        .alignfull {
            margin-left: calc( -50vw + 50% + 17px / 2 );
            margin-right: calc( -50vw + 50% + 17px / 2 );
        }
    }
}

.entry-content {
    .alignfull { //  + 17px / 2 if we take into consideration the scrollbars
        margin-left: calc( -50vw + 50% );
        margin-right: calc( -50vw + 50% );
        max-width: 100vw;
        width: auto;
    }
}

.content {
    overflow-x: hidden;
}

.gutenberg-disabled-sidebar:not(.home) {
    .content {
        .container {
            max-width: 960px;
        }
    }
}

@import 'frontend/table';
@import 'frontend/posts';
@import 'frontend/columns';