.author-box {
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-color: $gray-200;
    border-bottom-color: $gray-200;

    &__headline {
        font-size: 1rem;
        font-weight: 300;
        color: $gray-600;
        text-transform: uppercase;

        svg {
            width: 18px;
            height: 15px;
            vertical-align: -8%;

            @include media-breakpoint-down(sm) {
                width: 15px;
                height: 15px;
            } 
        }
    }

    &__gravatar {
        img {
            border-radius: 100%;
        }
    }

    &__website {
        svg {
            width: 12px;
            height: 12px; 
            fill: currentColor;
        }
    }
} 