// Colors
$white:    #fff !default;
$gray-100: #f1f3f7 !default;
$gray-200: #e6e6e6 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #1c1f21 !default;

$blue:    #2388ed !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #7dc855 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Overrides
$link-hover-decoration:                   none !default;

$container-max-widths: (
    sm: 540px, //540px - 576px 
    md: 720px, //720px - 768px
    lg: 960px, //960px - 992px
    xl: 1330px //1140px - 1200px
) !default;

$line-height-lg:              1.9 !default;
